<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vhans.bus.system.mapper.AdminMapper">

<!--    <resultMap id="AdminAndRole" type="com.vhans.bus.system.domain.Admin">-->
<!--        <id property="id" column="id"/>-->
<!--        <result property="adminName" column="admin_name"/>-->
<!--        <result property="nickname" column="nickname"/>-->
<!--        <result property="email" column="email"/>-->
<!--        <result property="avatar" column="avatar"/>-->
<!--        <result property="ipAddress" column="ip_address"/>-->
<!--        <result property="ipSource" column="ip_source"/>-->
<!--        <result property="isDisable" column="is_disable"/>-->
<!--        <result property="loginTime" column="login_time"/>-->
<!--        <result property="createTime" column="create_time"/>-->
<!--        <collection property="roleList" javaType="java.util.List">-->
<!--            <id property="id" column="role_id"/>-->
<!--            <result property="roleName" column="role_name"/>-->
<!--        </collection>-->
<!--    </resultMap>-->

    <select id="listAdmin" resultType="com.vhans.bus.system.domain.Admin">
        SELECT
        a.id,
        a.nickname,
        a.admin_name,
        a.avatar,
        a.email,
        a.ip_address,
        a.ip_source,
        a.is_disable,
        a.login_time,
        a.create_time
        FROM s_admin a
        <where>
            <if test="query.adminName != null and query.adminName != ''">
                a.admin_name like concat('%',#{query.adminName},'%')
                or a.nickname like concat('%',#{query.adminName},'%')
            </if>
        </where>
    </select>

</mapper>
