<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vhans.bus.agree.mapper.CompetitionMapper">

    <select id="selectCompetitionVO" resultType="com.vhans.bus.agree.domain.vo.AgreeVO">
        SELECT c.id,
        c.user_id,
        u.avatar,
        u.nickname,
        c.cover,
        c.title,
        c.people_number,
        c.time_start,
        c.time_end,
        c.`status`,
        c.is_wager
        FROM a_competition c
        LEFT JOIN u_user u ON c.user_id = u.id
        <where>
            <if test="query.userId != null">
                c.user_id = #{query.userId}
            </if>
            <if test="query.status != null">
                and c.status = #{query.status}
            </if>
            <if test="query.title != null and query.title != ''">
                and (c.title like concat('%',#{query.title},'%') or
                u.nickname like concat('%',#{query.title},'%'))
            </if>
            <if test="query.relateUid != null">
                and #{query.relateUid} in
                (select ua.user_id from u_user_agree ua where (ua.type = 3 or ua.type = 5) and ua.agree_id = c.id)
            </if>
        </where>
        ORDER BY c.create_time DESC
    </select>

    <select id="selectCompetitionInfoById" resultType="com.vhans.bus.agree.domain.vo.AgreeVO">
        SELECT c.id,
               c.user_id,
               c.cover,
               c.title,
               c.content,
               c.people_number,
               c.is_wager,
               c.wager_content,
               c.time_start,
               c.time_end,
               c.`status`,
               u.avatar,
               u.nickname
        From a_competition c
                 LEFT JOIN u_user u on u.id = c.user_id
        WHERE c.id = #{competitionId}
    </select>

    <select id="listCompetitionHomeVO" resultType="com.vhans.bus.agree.domain.vo.AgreeVO">
        SELECT c.id,
        c.cover,
        c.user_id,
        c.title,
        c.time_start,
        c.time_end,
        u.avatar,
        u.nickname
        FROM a_competition c
        LEFT JOIN u_user u ON u.id = c.user_id
        <where>
            (c.`status` = 1 or c.`status` = 3)
            <if test="keyword != null and keyword != ''">
                and (c.title like concat('%',#{keyword},'%')
                or u.nickname like concat('%',#{keyword},'%'))
            </if>
        </where>
        ORDER BY c.create_time DESC, c.time_start, c.time_end
    </select>

    <select id="selectCompetitionAgreementById" resultType="com.vhans.bus.agree.domain.vo.AgreeVO">
        select c.id,
               c.cover,
               c.title,
               c.content,
               c.people_number,
               c.is_wager,
               c.wager_content,
               c.time_start,
               c.time_end,
               c.user_id,
               c.create_time,
               c.update_time,
               c.status,
               u.avatar,
               u.nickname
        from (SELECT id,
                     user_id,
                     cover,
                     title,
                     content,
                     people_number,
                     is_wager,
                     wager_content,
                     time_start,
                     time_end,
                     create_time,
                     update_time,
                     status
              From a_competition
              WHERE (`status` = 1 or `status` = 3)
                AND id = #{competitionId}) c
                 LEFT JOIN u_user u ON c.user_id = u.id
    </select>

    <select id="selectLastCompetition" resultType="com.vhans.bus.subsidiary.model.vo.PaginationVO">
        SELECT id, cover as img, title
        FROM a_competition
        WHERE `status` = 1
          AND id &lt; #{competitionId}
        ORDER BY id DESC
        LIMIT 1
    </select>

    <select id="selectNextCompetition" resultType="com.vhans.bus.subsidiary.model.vo.PaginationVO">
        SELECT id, cover as img, title
        FROM a_competition
        WHERE `status` = 1
          AND id &gt; #{competitionId}
        ORDER BY id
        LIMIT 1
    </select>

    <select id="selectCompetitionExpire" resultType="Integer">
        SELECT id
        FROM a_competition
        WHERE status != 5
          AND sysdate() >= time_start;
    </select>
</mapper>