<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vhans.bus.chat.mapper.GroupMsgMapper">

    <select id="selectGroupMsgList" resultType="com.vhans.bus.chat.domain.GroupMsg">
        select
        gm.id,
        gm.from_uid,
        gm.to_uid,
        gm.msg_type,
        gm.file_id,
        gm.content,
        gm.create_time,
        gm.update_time,
        u.avatar,
        u.nickname,
        fr.file_size,
        fr.file_url
        from c_group_msg gm
        left join u_user u on u.id = gm.from_uid
        left join s_file_record fr on fr.id = gm.file_id
        <where>
            <if test="query.groupId != null">
                gm.to_uid = #{query.toUid}
            </if>
            <if test="query.userId != null">
                and gm.from_uid = #{query.fromUid}
            </if>
            <if test="query.msgType != null">
                and gm.msg_type = #{query.msgType}
            </if>
            <if test="query.content != null">
                and gm.content like concat('%',#{query.content},'%')
            </if>
            <if test="query.startTime != null">
                and gm.date_format(create_time,'%y%m%d %H:%i:%s') &gt;= date_format(#{query.startTime},'%y%m%d
                %H:%i:%s')
            </if>
            <if test="query.endTime != null">
                and gm.date_format(create_time,'%y%m%d %H:%i:%s') &lt;= date_format(#{query.endTime},'%y%m%d %H:%i:%s')
            </if>
        </where>
    </select>

    <select id="selectRecentGroupMsg" resultType="com.vhans.bus.chat.domain.GroupMsg">
        select
        gm.id,
        gm.from_uid,
        gm.to_uid,
        gm.msg_type,
        gm.file_id,
        gm.content,
        gm.create_time,
        gm.update_time,
        u.avatar,
        u.nickname,
        fr.file_size,
        fr.file_url
        from c_group_msg gm
        left join u_user u on u.id = gm.from_uid
        left join s_file_record fr on fr.id = gm.file_id
        where gm.to_uid = #{groupId}
    </select>

</mapper>