<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vhans.bus.data.mapper.QuizMapper">

    <select id="selectQuizVO" resultType="com.vhans.bus.data.domain.Quiz">
        SELECT q.id,
        q.user_id,
        q.cover,
        q.title,
        q.is_check,
        q.solve_number,
        q.like_number,
        q.collect_number,
        q.create_time,
        u.avatar,
        u.nickname
        FROM d_quiz q
        LEFT JOIN u_user u on u.id = q.user_id
        <where>
            <if test="query.userId != null">
                q.user_id = #{query.userId}
            </if>
            <if test="query.isCheck != null">
                and q.is_check = #{query.isCheck}
            </if>
            <if test="query.title != null and query.title != ''">
                and (q.title like concat('%',#{query.title},'%')
                or u.nickname like concat('%',#{query.title},'%'))
            </if>
            <if test="query.collectUid != null">
                and #{query.collectUid} in (select uc.user_id from u_user_collect uc where uc.type = 2 and uc.type_id = q.id)
            </if>
            <if test="query.likeUid != null">
                and #{query.likeUid} in (select ul.user_id from u_user_like ul where ul.type = 2 and ul.type_id = q.id)
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

    <select id="searchQuiz" resultType="com.vhans.core.web.model.vo.SearchVO">
        SELECT id,
        title,
        content
        FROM d_quiz
        <where>
            is_check = 1
            <if test="keyword != null">
                and (title like concat('%',#{keyword},'%')
                or content like concat('%',#{keyword},'%'))
            </if>
        </where>
    </select>

    <select id="selectQuizHomeList" resultType="com.vhans.bus.data.domain.Quiz">
        SELECT q.id,
        q.user_id,
        q.title,
        q.solve_number,
        q.cover,
        q.like_number,
        q.collect_number,
        q.create_time,
        u.avatar,
        u.nickname
        FROM d_quiz q
        LEFT JOIN u_user u on u.id = q.user_id
        <where>
            q.is_check = 1
            <if test="query.title != null and query.title != ''">
                and (q.title like concat('%',#{query.title},'%')
                or u.nickname like concat('%',#{query.title},'%'))
            </if>
        </where>
    </select>

    <select id="selectQuizHomeById" resultType="com.vhans.bus.data.domain.Quiz">
        SELECT q.id,
               q.title,
               q.content,
               q.cover,
               q.like_number,
               q.collect_number,
               q.create_time,
               q.update_time,
               q.user_id,
               q.solve_number,
               u.avatar,
               u.nickname
        FROM (SELECT id,
                     user_id,
                     title,
                     content,
                     cover,
                     like_number,
                     collect_number,
                     solve_number,
                     create_time,
                     update_time
              FROM d_quiz
              WHERE is_check = 1
                AND id = #{quizId}) q
                 LEFT JOIN u_user u ON q.user_id = u.id
    </select>

    <select id="selectLastQuiz" resultType="com.vhans.bus.subsidiary.model.vo.PaginationVO">
        SELECT q.id, q.title, q.cover as img
        FROM d_quiz q
        WHERE q.is_check = 1
          AND q.id &lt; #{quizId}
        ORDER BY q.id DESC
        LIMIT 1
    </select>

    <select id="selectNextQuiz" resultType="com.vhans.bus.subsidiary.model.vo.PaginationVO">
        SELECT q.id, q.title, q.cover as img
        FROM d_quiz q
        WHERE q.is_check = 1
          AND q.id &gt; #{quizId}
        ORDER BY q.id
        LIMIT 1
    </select>

    <select id="selectQuizList" resultType="com.vhans.bus.data.domain.vo.OverviewVO">
        select q.id, q.title, q.create_time, u.avatar as img
        from d_quiz q
                 left join u_user u on u.id = q.user_id
        where is_check = 1
        order by create_time desc
    </select>

    <select id="selectQuizLatest" resultType="com.vhans.bus.data.domain.Quiz">
        select q.id, q.title, q.create_time, u.avatar, u.nickname
        from (select id, title, create_time, user_id
              from d_quiz
              where is_check = 1
              order by create_time DESC) q
                 LEFT JOIN u_user u ON q.user_id = u.id

    </select>

    <select id="selectQuizStatistics" resultType="com.vhans.bus.data.domain.vo.StatisticsVO">
        SELECT DATE_FORMAT(create_time, '%Y-%m-%d') AS date,
               COUNT(*)                             AS count
        FROM d_quiz
        GROUP BY date
        ORDER BY date DESC
    </select>

    <update id="updateAnswerNumber">
        UPDATE d_quiz
        SET solve_number = solve_number + #{num}
        WHERE id = #{quizId}
    </update>

</mapper>
