<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vhans.bus.data.mapper.TagTextMapper">

    <insert id="saveBatchRecordTag">
        insert into d_tag_text(tag_id,type,type_id) values
        <foreach collection="tagIdList" item="tagId" separator=",">
            (#{tagId},1,#{recordId})
        </foreach>
    </insert>

    <insert id="saveBatchQuizTag">
        insert into d_tag_text(tag_id,type,type_id) values
        <foreach collection="tagIdList" item="tagId" separator=",">
            (#{tagId},2,#{quizId})
        </foreach>
    </insert>
</mapper>
