<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vhans.bus.user.mapper.UserAgreeMapper">

    <insert id="saveAgreeUser">
        insert into u_user_agree(agree_id, user_id, type)
        values (#{agreementId}, #{userId}, #{type})
    </insert>

    <select id="selectAppointmentUser" resultType="com.vhans.bus.user.domain.UserAgree">
        select id, agree_id, user_id, type
        from u_user_agree
        where (type = 1 or (type = 6 and status = 1))
          and agree_id = #{appointmentId}
    </select>

    <select id="selectUserListByAgreeId" resultType="com.vhans.bus.user.domain.vo.UserIntroVO">
        select ua.user_id,
               u.avatar,
               u.nickname,
               u.intro
        from u_user_agree ua
                 left join u_user u on u.id = ua.user_id
        where ua.agree_id = #{agreeId}
          and ua.type = #{type}
    </select>
</mapper>
