<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vhans.bus.log.mapper.VisitLogMapper">

    <select id="selectUserViewList" resultType="com.vhans.bus.log.domain.vo.UserViewVO">
        select count(distinct ip_address)           as uv,
               count(create_time)                   as pv,
               DATE_FORMAT(create_time, '%Y-%m-%d') as `date`
        from l_visit_log
        where create_time &gt; #{startTime}
          AND create_time &lt;= #{endTime}
        group by DATE_FORMAT(create_time, '%Y-%m-%d')
    </select>

    <delete id="deleteVisitLog">
        delete
        from l_visit_log
        where create_time &lt;= #{endTime}
    </delete>
</mapper>
